<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.MybatisMember">
	<!-- 
		매개변수를 받는 방법으로 #{param1}. #{param2} 혹은 #{arg0}, #{arg1}과 같이 인덱스로 받을 수 있다.
	 -->
	<!--  
  		
	-->
	<select id="login" resultType="mybatis.MemberVO" parameterType="String">
		select * from member where id=#{param1} and pass=#{param2}
	</select>
	
<!-- 	<insert id="register" parameterType="String">
		insert into member (id, pass, name, mobile1, mobile2, regidate, num) 
			values (#{param1}, #{param2}, #{param3}, #{param4}, #{param5}, #{param6}, #{param7})
	</insert> -->
	
</mapper>
